.container {
	color: white;
	width: 85%;
}

.profile-container{
	background-color: #081F35;
	background-image: url("../images/starfield.png");
	color: white;
	padding-bottom: 59px;
	margin-bottom: 0;
	overflow: hidden;
}
.profile-container .container .logo img{
	display: block;
	margin: 10px auto;
	width: 44px;
}
.webnified-nav{
	position: fixed;
	background-color: #081F35;
}
.profile-container .company{
	margin-left: 70px;
	font-weight: bolder;
	font-size: 25px;
}
.webnified-nav a:hover{
	background-color: #3497DA;
}


.profile-container .propic img{
	display: block;
	width: 300px;
	height: 300px;
	margin: 90px auto;
	margin-bottom: 45px;
	border: 15px solid #fce4ec;
	border-radius: 50%;	
}
.profile-container .name{
	text-align: center;
	margin: -35px auto;
	margin-bottom: 45px;
}
.profile-container .position{
	text-align: center;
	font-size: 20px;
	margin: -45px auto;
	margin-bottom: 45px;
}


.profile-container .fullname{
	font-weight: bolder;
	font-size: 50px;
}

.profile-container .description{
	text-align: center;
	margin: 50px 0 20px 0;
	font-size: 30px;
}

.profile-container .button-holder .timein{
	
	color: white;
	background-color: #0288d1;
}
.profile-container .button-holder .timeout{
	
	color: white;
	background-color:#c0ca33;
}
.profile-container .videoElement {
    width: 300px;
    height: 300px;
    background-color: #666;
    border: 10px #333 solid;
}

.profile-container #snapshot{
	display: none;
	width: 300px;
	height: 220px;
	margin-right: 280px;
}

.profile-container #emotion{
	display: none;
	color: black;
	margin-top: -45px !important;
	padding: 2px;
}


.profile-container #clockbox{
	color: #fce4ec;
	font-weight: bolder;
	text-align: center;
	font-size: 45px;
	margin: 10 auto;
}

.profile-container .time-transaction{
	padding: 10px;
	width: 50%;
	margin: -40px auto;
}
.profile-container .day{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.profile-container .time{
	color: black;
	background-color: #fce4ec;
	border-radius: 5px;
	height: 60px;
}
.profile-container .hour{
	color: black;
	background-color: #fce4ec;
	border-radius: 5px;
	height: 60px;
	margin-left: 45px !important;
}
.profile-container .modal{
	margin: 20 auto;
}
.profile-container .comment {
	width: 100%;
	margin: 35px 0 20px 0;
	font-size: 15px;
	padding: 5px;
	border: 0px;
}
.profile-container .todo{
	font-size: 20px;
	font-weight: bold;
}
.profile-container .form{
	color: black;
	margin-left: 35px !important;
}
.profile-container #again{
	display: none;
	margin-bottom: 10px;
}
.profile-container .emoPic{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	margin-bottom: 10px;
}
.profile-container .cam-buttons{
	color:white;
	padding: 10px;
	border-radius: 50px;
	background-color:#233560;
}
.profile-container .emolements{
	text-align: center;
	margin: 100px 0px !important;
}
.heart{
	margin-top: 42px;
	font-size: 21px;
	font-weight: bolder;
	margin-bottom: -58px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	border-radius: 50px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
